<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="C5" version="2.4.5828.26833" targetFramework="net452" />
  <package id="DSP" version="1.0.0" targetFramework="net452" />
  <package id="log4net" version="2.0.5" targetFramework="net452" />
  <package id="OpenTK" version="1.1.1589.5942" targetFramework="net452" />
  <package id="Yeppp.CLR.Bundle" version="1.0.1-prerelease" targetFramework="net452" />
</packages>